*{
    margin: 0px;
    padding: 0px;
}

 html{
    
  color: #000000;
  } 



.sec{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1100px;
}
.outline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.col-1{
    
    min-width: 550px;
    flex-basis: 50%;
}

.col-2 img{
   max-width: 80%;
    padding: 30px 0px;
float: right;
    background: transparent;
}
.col-1 h1{
    font-size: 50px;
    line-height: 20px;
    margin: 20px 20px;
}
.col-1 h3{
    font-size: 30px;
    margin:20px;
}
.btn{
    border: 2px solid black;
    color:white;
    background:orangered;
    border-radius: 40%;
    padding: 8px 30px;
    margin: 10px 40px;
    transition: background 0.3s;
}
.btn:hover{
     background:black;
}
.header1{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
margin-top:12%;
}

.scontainer{
    display: flex;
    margin:auto;
    padding: 20px;

}
.container{
    max-width: 1080px;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 30px;
    
}
.col-3{
    flex-basis: 33%;
    text-align: center;
}
.col-3 img{
    margin: 0px 20px;
    width: auto;
    transition: zoomblack 0.3s;
    
}
.col-3 img:hover{
    filter: grayscale(100%);
     transform: scale(1.5);
}
.container h2{
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline dotted red;
    
}
.pro{
    font-size: 20px;
    color:#555;
}
.col-4{
    flex-basis: 25%;
    text-align: center;
    
}
.col-4 img{
    margin: 0px 40px;
    width: auto;
    transition: zoomblack 0.3s;
    
}
.col-4 img:hover{
    filter: grayscale(100%);
     transform: scale(1.2);
}
.scontainer-1{
    display: flex;
  align-content: center;
    max-width: 800px;
    }
 .pri{
      font-size:20px;
      color: #05cf27;
    }
    i{
        color:#bdba05;
      }
.page-btn{
    margin: 10px auto 30px;
    text-align: center;
}

.page-btn span{
    line-height: 40px;
    border: 1px solid red;
    margin-left: 15px;
    padding:10px;
}
.page-btn span:hover{
    background: orangered;
    color:white;
}
.rowf-1{
    align-content: center;
    margin: auto;
    max-width: 1000px;
    display:flex;
    padding: 20px;
}
.footl{
    flex-basis: 25%;
    margin-left: 10px;
    box-sizing: border-box;
}
.footl h2{
    text-align: center;
     margin-bottom: 20px;
    line-height: 40px;
    
}
.hp{ line-height: 20px;
    text-align: center;
}
    

.footl ul{
    list-style-type: none;
    
}
.footl ul li{
text-align: left;
    margin-left: 60px;
font-size: 20px;
    margin-bottom: 10px;
    line-height: 20px;
}
.h{
     line-height: 20px;
    text-align: left;
    
}
   
footer{
    background-image: linear-gradient( 109.5deg,  rgba(229,233,177,1) 11.2%, rgba(223,205,187,1) 100.2% );
}
.animation{
    background: linear-gradient( 109.5deg,  rgba(229,233,177,1) 11.2%, rgba(223,205,187,1) 100.2% );;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    height:60px;
    
}

.move{
     position:absolute;
     width:100%;
    height:39px;
    background: url(Images/footer-shape.png);
    animation: animate 10s linear infinite;
}
.move::before{
    content: '';
     position:absolute;
     width:100%;
    height:39px;
    background: url(Images/footer-shape.png);
    animation: animate-reverse 10s linear infinite;
    opacity: 0.4;
}

@keyframes animate{
    0%{ background-position: 0;
    }
   
    100%{ background-position: 1298px;
    }
}
    
    
@keyframes animate-reverse{
    0%{ background-position: 1298px;
    }
   
    100%{ background-position: 0px;
    }
}

.navbar {
    position:fixed;
    display: flex;
    top:0%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(57, 177, 247);
    z-index: 2000;
    margin-bottom: 0px;
  }
  
  .navbar a {
      margin: auto;
    float: left;
    font-size: 150%;
    color: white;
    text-align: center;
    padding: 1% 1% 1% 5%;
    margin-left: 6%;
    font-style: italic;
  }
  .search-container{
      display: flex;
    float: left;
    color: white;
    text-align: center;
      margin: auto;
    text-decoration: none;
    
  }
  .search-button{
      margin-top: 10px;
      margin-left: 10px;
      cursor: pointer;
       padding: 10px;
      border-radius: 10px;
  }
  .search-box{
        padding:20px;
      margin-left: 0px;
        border-radius: 10px;
      font-size: 15px;
  }
  .log{
      margin: auto;
    float: left;
    color: white;
    text-align: center;
    padding: 1.5% 2% 1% 1%;
    text-decoration: none;
    
  }
  .lb{
    color:blue;
    padding: 2% 15% 2% 15%;
    font-size: 150%;
    font-family: serif;
    cursor: pointer;
    border: 2px solid #f6fa2b;
  }
  .cart{
    float: left;
    padding:20px;
    font-size: 100%;
    cursor: pointer;
    
  }
  .cart img{
      float: left;
    
    width:20%;
    height: 20%;
    border-radius: 50%;
  }
  .navbar2 {
    width: 100%;
    overflow: hidden;
    background-color: rgb(253, 253, 255);
    z-index: 2000;
     position:fixed; 
 top:12%;
  }
  a{
      list-style-type: none;
      text-decoration: none;
}
  .navbar2 a {
    
    float: left;
    font-size: 200%;
    color: rgb(20, 20, 20);
    text-align: center;
    padding: 1% 1% 1% 5%;
    margin-left: 6%;
    font-style: italic;
  }
  .navbar2 a:active{
      
    cursor: pointer;
    color: #3916ff;
  }


    